<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Search page</title>
</head>
<body>
    <h1>Search page</h1>

    <h2>
        <b>Type a word for search here:</b>
        <input type="text" size="40">
        <p>
            <b>Type amount of examples for search here:</b>
            <input type="text" size="40">
        </p>
    </h2>

    <h3>
        <form>
            <button id="submit_btn" type="submit" name="button_submit">Search</button>
        </form>
    </h3>
</body>
</html>